.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
}
.footer__content {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 80px;
  padding-right: 100px;
}
.footer__social-heading {
  color: white;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}
.footer__list-item {
  color: white;
  list-style-type: none;
  display: flex;
  flex-direction: row;

  justify-content: flex-end;
  gap: 10px;
  margin-top: 16px;
}
.footer__copyright {
  color: white;
  margin: 0;
}
