.nav {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;

  margin-left: 30px;
  padding-right: 50px;
}
.nav__links {
  display: flex;

  column-gap: 20px;
  list-style-type: none;
  padding: 0px;
  font-family: "Inter";

  font-style: normal;

  font-weight: 500;

  font-size: 16px;

  line-height: 20px;
  text-decoration: none;
  color: black;
}
.nav__link {
  text-decoration: none;
  color: black;
}
