.recipes {
  background-image: url("../images/background_recipes.svg");
  background-color: #0a2750;
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  margin-left: auto;
  margin-right: auto;
}
.recipes__title {
  font-family: "Inter";

  font-style: normal;

  font-weight: 500;

  font-size: 44px;
  color: white;

  line-height: 52px;

  margin-left: 80px;
  display: flex;
  justify-content: flex-start;
  padding-top: 60px;
}
.recipes__subtitle {
  font-family: "Noto Serif";

  font-style: normal;

  font-weight: normal;

  font-size: 20px;

  line-height: 30px;
  color: white;
  display: flex;
  justify-content: flex-start;
  padding-left: 80px;
}

.recipes__iframe {
  border: 0;
}
.recipes__videos {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  gap: 24px 40px;
  max-width: 1000px;
  flex-wrap: wrap;
  margin-top: 80px;
}
.recipes__video-caption {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 480px;
}
